		<style>

		/*Mudar background color dos botoes>*/

			button.like {
				background-color: green;	
			}

			button.dislike {
				background-color: red;
			}

			h1{
				color:#b71414;
			}



		/*alinhamento das colunas*/

			.divalignleft {
				float:left;
				width:33%;
			}


			@media(max-width:700px){

				.divalignleft {
					width: 100%;
				}				

			}



			/*alinhamento do texto dentro das colunas>*/

				
			.alignleft {
				text-align:left;
			}

			.aligncenter {
				text-align:center;
			}

			.alignright {
				text-align:right;
			}

			.imgsize {
				width: 50%;
			}

			.linkalign {

				float: left;
				width: 50%;
			}

			.descalign {

				width: 75%;
			}